In [4]:
pwd()

'/home/user/CODE/alchemy_nlp/alchemy_texts'

In [2]:
import os
os.chdir('../scr/')
%run setup.py

In [3]:
os.chdir('../alchemy_texts/')

In [26]:
# loading the reduced dataset: original and saved by me
texts0 = pd.read_csv('compressed_documents.csv', encoding= 'utf-8', on_bad_lines= 'skip', usecols = ['Title','Date','Publisher','Text'])

/tmp/ipykernel_5514/2107552394.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  texts0 = pd.read_csv('compressed_documents.csv', encoding= 'utf-8', on_bad_lines= 'skip', usecols = ['Title','Date','Publisher','Text'])

In [27]:
texts = pd.read_csv('texts_aka_compressed_documents.csv', index_col=0)

In [32]:
# loading the 11-word sentences labeled dataset
lw0 = pd.read_csv('11_word_set.csv', encoding= 'utf-8', on_bad_lines= 'skip', usecols = ['Title','Date','Fragments','Lab/Ops','Principles'])

In [33]:
lw0

,Title,Date,Fragments,Lab/Ops,Principles
0,"Medicinal experiments, or, A collection of cho...",1693-01-01,for aguish distempers take of salt of wormwood...,NaN,NaN
1,A letter in answer to certain quæries and obje...,1670-01-01,man all diseases and of mercury both he and va...,NaN,1
2,A letter in answer to certain quæries and obje...,1670-01-01,a spagyrical physician these are mercury sulph...,NaN,1
3,A letter in answer to certain quæries and obje...,1670-01-01,be affrighted at antimony and mercury and trul...,1,NaN
4,A letter in answer to certain quæries and obje...,1670-01-01,these are mercury sulphur and salt which being...,NaN,1
...,...,...,...,...,...
435,Certain physiological essays and other tracts ...,1669-01-01,tryal having examin d this salt by the tongue ...,1,NaN
436,Certain physiological essays and other tracts ...,1669-01-01,reduce either to that of salt petre or of any ...,1,NaN
437,NaN,NaN,NaN,NaN,Lab/ops
438,NaN,NaN,NaN,NaN,210
439,NaN,NaN,NaN,%,92.92

In [13]:
# get the number of non-null entries in each column
lw0.count()

Title         436
Date          436
Fragments     436
Lab/Ops       248
Principles    110
dtype: int64

In [17]:
# get the subset of labeled texts, i.e. those with non-null entries in the 'Lab/Ops' OR 'Principles' columns

lw0labed = lw0[lw0['Lab/Ops'].notnull() ^ lw0['Principles'].notnull()]

In [18]:
lw0labed

,Title,Date,Fragments,Lab/Ops,Principles
1,A letter in answer to certain quæries and obje...,1670-01-01,man all diseases and of mercury both he and va...,NaN,1
2,A letter in answer to certain quæries and obje...,1670-01-01,a spagyrical physician these are mercury sulph...,NaN,1
3,A letter in answer to certain quæries and obje...,1670-01-01,be affrighted at antimony and mercury and trul...,1,NaN
4,A letter in answer to certain quæries and obje...,1670-01-01,these are mercury sulphur and salt which being...,NaN,1
5,"Paracelsus his Aurora, & treasure of the philo...",1659-01-01,an opinion that mercury and sulphur are the ma...,NaN,1
...,...,...,...,...,...
434,"A new treatise of natural philosophy, free'd f...",1687-01-01,self of note is the saltness of its waters ori...,1,NaN
435,Certain physiological essays and other tracts ...,1669-01-01,tryal having examin d this salt by the tongue ...,1,NaN
436,Certain physiological essays and other tracts ...,1669-01-01,reduce either to that of salt petre or of any ...,1,NaN
437,NaN,NaN,NaN,NaN,Lab/ops
438,NaN,NaN,NaN,NaN,210

In [20]:
lw0labed.count()

Title         350
Date          350
Fragments     350
Lab/Ops       245
Principles    107
dtype: int64

In [22]:
(107-2)/350, 245/350

(0.3, 0.7)

Proportions of lab/opsm and principle fragments: (0.3, 0.7)

save the lw0 as csv without the last two rows

In [30]:
lw0.shape

(440, 5)

In [36]:
# drop the last three rows in lw0 

lw0_ = lw0.drop([437,438,439])
# write zeros instead of NaNs in the 'Lab/Ops' and 'Principles' columns
# lw0_ = lw0_.fillna(0)

lw0_

,Title,Date,Fragments,Lab/Ops,Principles
0,"Medicinal experiments, or, A collection of cho...",1693-01-01,for aguish distempers take of salt of wormwood...,NaN,NaN
1,A letter in answer to certain quæries and obje...,1670-01-01,man all diseases and of mercury both he and va...,NaN,1
2,A letter in answer to certain quæries and obje...,1670-01-01,a spagyrical physician these are mercury sulph...,NaN,1
3,A letter in answer to certain quæries and obje...,1670-01-01,be affrighted at antimony and mercury and trul...,1,NaN
4,A letter in answer to certain quæries and obje...,1670-01-01,these are mercury sulphur and salt which being...,NaN,1
...,...,...,...,...,...
432,"A new treatise of natural philosophy, free'd f...",1687-01-01,of mettals to wit salt sulphur and mercury of ...,NaN,1
433,"A new treatise of natural philosophy, free'd f...",1687-01-01,sweeter than sugar and the salt of antimony is...,1,NaN
434,"A new treatise of natural philosophy, free'd f...",1687-01-01,self of note is the saltness of its waters ori...,1,NaN
435,Certain physiological essays and other tracts ...,1669-01-01,tryal having examin d this salt by the tongue ...,1,NaN
436,Certain physiological essays and other tracts ...,1669-01-01,reduce either to that of salt petre or of any ...,1,NaN

In [37]:
# get the subset of texts labeled as 'Lab/Ops' 

lw0labops = lw0_[lw0_['Lab/Ops'].notnull()]

# get the 'Principles' subset

lw0princip = lw0_[lw0_['Principles'].notnull()]

In [39]:
# save lw0_ as csv
lw0_.to_csv('lw11_aka_11_word_set.csv', encoding='utf-8')
# save lw0labops as csv
lw0labops.to_csv('lw0labops.csv', encoding='utf-8')
# save lw0princip as csv
lw0princip.to_csv('lw0princip.csv', encoding='utf-8')

In [7]:
texts0.head()

,Title,Date,Publisher,Text
0,"Medicinal experiments, or, A collection of cho...",1693-01-01,NaN,"""Image 1 (unnumbered page) Medicinal Experimen..."
1,Chymical secrets and rare experiments in physi...,1683-01-01,NaN,"""Image 1 (unnumbered page) Unnumbered page Chy..."
2,Observations on the mineral waters of France m...,1684-01-01,NaN,"""Image 1 (unnumbered page) Unnumbered page OBS..."
3,A letter in answer to certain qu�ries and obje...,1670-01-01,NaN,Image 1 (unnumbered page) Unnumbered page A LE...
4,"Paracelsus his Aurora, & treasure of the philo...",1659-01-01,NaN,"""full_text> Image 1 (unnumbered page) Unnumb..."

In [29]:
texts.head()

,Title,Date,Publisher,Text
0,"Medicinal experiments, or, A collection of cho...",1693-01-01,NaN,"""Image 1 (unnumbered page) Medicinal Experimen..."
1,Chymical secrets and rare experiments in physi...,1683-01-01,NaN,"""Image 1 (unnumbered page) Unnumbered page Chy..."
2,Observations on the mineral waters of France m...,1684-01-01,NaN,"""Image 1 (unnumbered page) Unnumbered page OBS..."
3,A letter in answer to certain qu�ries and obje...,1670-01-01,NaN,Image 1 (unnumbered page) Unnumbered page A LE...
4,"Paracelsus his Aurora, & treasure of the philo...",1659-01-01,NaN,"""full_text> Image 1 (unnumbered page) Unnumb..."