In [10]:
import os
import pandas as pd
os.chdir('../scr/')
%run setup.py

In [11]:
os.chdir('../alchemy_texts/')

In [13]:
# loading the reduced dataset: original and saved by me
texts0 = pd.read_csv('compressed_documents2.csv', encoding= 'utf-8', on_bad_lines= 'skip', usecols = ['Title','Date','Publisher','Text'])

texts0

,Title,Date,Publisher,Text
0,The art of glass wherein are shown the wayes t...,1662-01-01,NaN,Image 1 (unnumbered page) Unnumbered page THE ...
1,A general collection of discourses of the virt...,1664-01-01,NaN,"Image 1 (unnumbered page) Imprimatur, November..."
2,"Bazilica chymica, & Praxis chymiatricæ, or, Ro...",1670-01-01,NaN,"Image 1 (unnumbered page) Bazilica Chymica, & ..."
3,A dialogue between alkali and acid containing ...,1698-01-01,NaN,Image 1 (unnumbered page) Unnumbered page A DI...
4,"A new treatise of natural philosophy, free'd f...",1687-01-01,NaN,Image 1 (unnumbered page) Unnumbered page A N...
...,...,...,...,...
99,"Vindiciæ literarum, the schools guarded, or, T...",1655-01-01,NaN,Image 1 (unnumbered page) Unnumbered page Vind...
100,"Belphegor, or, The marriage of the Devil a tra...",1691-01-01,NaN,Image 1 (unnumbered page) Unnumbered page BELP...
101,Tryon's letters upon several occasions ... by ...,1700-01-01,NaN,Image 1 (unnumbered page) Unnumbered page TRYO...
102,"The anatomy of human bodies, comprehending the...",1694-01-01,NaN,Image 1 (unnumbered page) Unnumbered page ...
103,"Chirurgorum comes, or, The whole practice of c...",1687-01-01,NaN,Image 1 (unnumbered page) Unnumbered page CHIR...

In [ ]:
texts = pd.read_csv('texts_aka_compressed_documents2.csv', index_col=0)

In [ ]:
# loading the 11-word sentences labeled dataset
lw0 = pd.read_csv('11_word_set.csv', encoding= 'utf-8', on_bad_lines= 'skip', usecols = ['Title','Date','Fragments','Lab/Ops','Principles'])

In [ ]:
lw0

In [ ]:
# get the number of non-null entries in each column
lw0.count()

In [ ]:
# get the subset of labeled texts, i.e. those with non-null entries in the 'Lab/Ops' OR 'Principles' columns

lw0labed = lw0[lw0['Lab/Ops'].notnull() ^ lw0['Principles'].notnull()]

In [ ]:
lw0labed

In [ ]:
lw0labed.count()

In [ ]:
(107-2)/350, 245/350

Proportions of lab/opsm and principle fragments: (0.3, 0.7)

save the lw0 as csv without the last two rows

In [ ]:
lw0.shape

In [ ]:
# drop the last three rows in lw0 

lw0_ = lw0.drop([437,438,439])
# write zeros instead of NaNs in the 'Lab/Ops' and 'Principles' columns
# lw0_ = lw0_.fillna(0)

lw0_

In [ ]:
# get the subset of texts labeled as 'Lab/Ops' 

lw0labops = lw0_[lw0_['Lab/Ops'].notnull()]

# get the 'Principles' subset

lw0princip = lw0_[lw0_['Principles'].notnull()]

In [ ]:
# save lw0_ as csv
lw0_.to_csv('lw11_aka_11_word_set.csv', encoding='utf-8')
# save lw0labops as csv
lw0labops.to_csv('lw0labops.csv', encoding='utf-8')
# save lw0princip as csv
lw0princip.to_csv('lw0princip.csv', encoding='utf-8')

In [14]:
texts0.head()

,Title,Date,Publisher,Text
0,The art of glass wherein are shown the wayes t...,1662-01-01,NaN,Image 1 (unnumbered page) Unnumbered page THE ...
1,A general collection of discourses of the virt...,1664-01-01,NaN,"Image 1 (unnumbered page) Imprimatur, November..."
2,"Bazilica chymica, & Praxis chymiatricæ, or, Ro...",1670-01-01,NaN,"Image 1 (unnumbered page) Bazilica Chymica, & ..."
3,A dialogue between alkali and acid containing ...,1698-01-01,NaN,Image 1 (unnumbered page) Unnumbered page A DI...
4,"A new treatise of natural philosophy, free'd f...",1687-01-01,NaN,Image 1 (unnumbered page) Unnumbered page A N...

In [ ]:
texts.head()

In [ ]:
print("finished")